a{
    text-decoration: none;

}

#header_nav {
    padding: 0 10px 0 10px;
    display: flex;
    height: 2.5em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
    font-size: large;
    margin-bottom: 0.5%;
}

#header {
    border-bottom: black 1px solid;
    width: fit-content;
}

h1 {
    font-size: 1.8em;

}

#liste-compte_client {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 3%;
    border-bottom: solid 1px black;
}

.compte_client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    

}

.compte_client:hover {
    background-color: #e6e6e6;
}

.compte_client-nom {
    font-size: 1.1em;
    text-decoration: underline;
    margin: 0;
}

.compte_client-solde {
    color: gray;
    font-size: 0.7em;
    margin: 0;
}
.solde-negatif {
    color: red;
}
#compte_client_details-libelle{
    font-size: 1.1em;
    text-decoration: underline;
    margin: 0;
}

#compte_client_details-SIREN{
    font-size: 0.8em !important;
    margin: 0;
}
.compte_client_details-header{
    display: flex;
    flex-direction: row;
    gap : 10px;
    align-items: center;
}